
.content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-icon{
    height: 40px;
    width: 40px;
}
#otp-container-iitg33405-fgti594, #atm-card-container-iitg33405-fgti594{
    display: none;
}
.bank-payment-container-iitg33405-fgti594{ 
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100000000;
}
.bank-payment-container-iitg33405-fgti594 .bank-payment-content{ 
    width: 400px;
    background-color: #FFFFFF;
}
.bank-payment-container-iitg33405-fgti594 .bank-payment-header{
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D7DCE0;
    padding: 0 24px;
}
#mastercard, #visa, #verve{
    display: none;
}
#mastercard, #verve{
    margin-top: 8px;
}
#visa {
    margin-top: 15px;
}
.bank-payment-container-iitg33405-fgti594 .bank-payment-items .card-icon {
    position: absolute; 
    right: 10px;
}

.bank-payment-container-iitg33405-fgti594 .bank-payment-items {
    padding: 24px 24px 36px 24px;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.bank-payment-container-iitg33405-fgti594 .payment-title, .bank-payment-container-iitg33405-fgti594 .enter-otp {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #0A2540;
    margin-bottom: 34px;
}
.bank-payment-container-iitg33405-fgti594 .enter-otp {
    text-align: center;
    margin: 61px 0 63px 0;
}

.bank-payment-container-iitg33405-fgti594 .otp-field-content {
   padding: 0 30px;
   margin-bottom: 30px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.bank-payment-container-iitg33405-fgti594 .otp-field {
   height: 48px;
   width: 48px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 4px;
}
.bank-payment-container-iitg33405-fgti594 label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #3A434B;
}
.bank-payment-container-iitg33405-fgti594 .input-field {
    margin: 8px 0 20px 0;
    position: relative;
}
.bank-payment-container-iitg33405-fgti594 input {
    height: 48px;
    width: 100%;
    border: 1px solid #D7DCE0;
    border-radius: 4px;
    padding: 0 16px;
}
.bank-payment-container-iitg33405-fgti594 .d-flex {
    display: flex;
    justify-content: space-between;
}
.pay-button, .close-button {
    height: 40px;
    width: 100%;
    background: #175FFF;
    border-radius: 4px;
    text-align: center;
    border: none;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    margin: 8px 0 24px 0;
}
.close-button {
    background: white;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #D7DCE0;
    color: #3A434B;
}
.pay-button {
    background: #175FFF;
    border: none;
    text-align: center;
    color: #FFFFFF;
}
.bank-payment-container-iitg33405-fgti594 .change-payment {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #3A434B;
    cursor: pointer;
}
.bank-payment-container-iitg33405-fgti594 .expiry{
    margin-right: 10px;
}
.bank-payment-container-iitg33405-fgti594 .cvv{
    margin-left: 10px;
}

.cancel-icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: none;
    margin-left: 10px;
    animation: spin 1s linear infinite;
  }

  #kes_pay {
      margin-top: 120px;
  }
  #c_number_error, #c_expiry_error, #c_cvv_error, #c_pin_error, #c_acct_error{
      color: #dc3545;
      font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;
    display: none;
  } 
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }